html, body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 20px;
}

.demo-table td {
	padding-right: 1rem;
}

pre {
	font-family: "Courier New", Courier, monospace;
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}