// Default theme variables
// --------------------------------------------------

$toggle-default-padding:                       2px !default;
$toggle-default-border-radius:                 .2em !default;
$toggle-default-background-color:              #e7e7e7 !default;
$toggle-default-transition-duration:           .2s !default;

$toggle-default-button-background-color:       #fff !default;
$toggle-default-button-transition-duration:    $toggle-default-transition-duration !default;

$toggle-default-checked-background-color:      #797979 !default;
