// Flip theme variables
// --------------------------------------------------

$toggle-flip-padding:                          2px !default;
$toggle-flip-border-radius:                    4px !default;
$toggle-flip-line-height:                      2em !default;
$toggle-flip-background-color:                 #ff3a19 !default;
$toggle-flip-color:                            #fff !default;
$toggle-flip-transition-duration:              .4s !default;

$toggle-flip-checked-background-color:         #7fc6a6 !default;
