// Light theme variables
// --------------------------------------------------

$toggle-light-padding:                         2px !default;
$toggle-light-border-radius:                   2em !default;
$toggle-light-background-color:                #f0f0f0 !default;
$toggle-light-transition-duration:             .4s !default;

$toggle-light-button-border-radius:            50% !default;
$toggle-light-button-background-color:         #fff !default;
$toggle-light-button-transition-duration:      .2s !default;

$toggle-light-checked-background-color:        #9fd6ae !default;
