// Skewed theme variables
// --------------------------------------------------

$toggle-skewed-line-height:                    2em !default;
$toggle-skewed-background-color:               #888 !default;
$toggle-skewed-color:                          #fff !default;
$toggle-skewed-transition-druation:            .2s !default;
$toggle-skewed-transform-angle:                10deg !default;

$toggle-skewed-checked-background-color:       #86d993 !default;
