{{docs-hero
  logo='ember'
  slimHeading='Ember'
  strongHeading='Toggle'
  byline='Solving your toggling needs'}}

{{#docs-demo as |demo|}}
  {{#demo.example name='my-demo.hbs'}}
    <p>Make sure to read up on the DocsDemo component before building out this page.</p>
  {{/demo.example}}
{{/docs-demo}}